#sobre {
  color: #f2a365;
}
#card {
  background-color: #222831;
}
.card-content {
  background-color: #30475e;
}
.card-action {
  background-color: #30475e;
}
.card-title {
  text-shadow: 2px 2px #222831;
}
